.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.My-style {
  color: rgb(16, 115, 172);
  font-size: 30px;
}

.My-style-div{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.title{
  padding: 10px;
  overflow: hidden;
  line-height:15px;
  font-size: 20px;  
  color: rgb(16, 115, 172);
}
.message{
  border: 2px solid #165d97;
  background-color: rgb(198, 228, 248);
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  color: #165d97;
}

.chatarea{
  border-top: 1px solid #cfdae1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 176px;
  right:175px;
  box-shadow: inset 0 1px 3px rgba(207, 218, 225, 0.42)
}

.input-area{
  background: #c0ddf0;
  padding: 6px;
  overflow: hidden;
  
  left: 0;
  right: 0;
  bottom: 0;
  border-top: 1px solid #cfdae1;
  display: flex;
  justify-content:center;
}

.send-btn{
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
  border-radius: 4px;
  color: #3080c2;  
  font-size: 14px;
  text-align:center;
  height: 40px;
  line-height: 20px;
  margin-bottom: 10px;
  padding: 4px 6px;
  text-decoration:none;
  margin-left: 10px;
}

.send-btn:hover, .send-btn:focus {
  border-color: rgba(82, 168, 236, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
  outline: 0 none;
}

input {
  border: 2px solid rgba(82, 168, 236, 0.8);
  border-radius: 40px;
  height: 40px;
  padding: 0 11px;
  font-size: 14px;
  display: flex;
  align-items: center;
  overflow: hidden;
  color: rgba(82, 168, 236, 0.8);
  outline:none;
}